{% extends 'OctopusFrontendBundle::layout.html.twig' %}

{% block title %}Change password{% endblock %}

{% block content %}

<form action="{{ path('_myaccount_changepassword_submit') }}" method="post" class="form-horizontal">
	<legend>Change user password</legend>
	
	<div class="control-group">		    	
    	<label for="new_password" class="control-label">New password:</label>
    	<div class="controls">
    		<input type="password" id="new_password" name="new_password" />
    	</div>
    </div>
	<div class="control-group">
    	<label for="new_password_confirm" class="control-label">New password confirm:</label>
    	<div class="controls">
    		<input type="password" id="new_password_confirm" name="new_password_confirm" />
    	</div>
    </div>
    
    <div class="control-group">
    	<div class="controls">
    		<button type="submit" class="btn">Change password</button>
    	</div>
    </div>

    <input type="hidden" name="_target_path" value="/" />
</form>

{% endblock %}