@CHARSET "UTF-8";


html, body
{
    height: 100%;
    margin: 0px;
    padding-top: 30px;
}

footer
{
	height: 40px;
	position: relative;
	clear: both;
	padding: 15px 5px 5px 5px;
	border-top: white dashed 5px;
	background-color: grey;
	color: #fefefe;
	text-align: right;
}

address {
	font-style: italic;
}