{% extends 'OctopusFrontendBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block content %}

	<div class="hero-unit">
    	<h1>About Octopus <small>Open Source Squid reports software.</small></h1>
    	
    	<br /><br />
    	
    	<p>
    		Developer:<br />
    		<address>Matheus Conceição &lt;matheuswcon_AT_gmail.com&gt;</address>
    	</p>
   	</div>

    

{% endblock %}
