{% extends 'OctopusFrontendBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block content %}

    <h1>About Octopus</h1>

    <p>Octopus is a open source software.</p>

{% endblock %}
