{% extends 'OctopusFrontendBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

    <h1>Welcome to the Octopus Frontend!</h1>

    <p>Now you can monitor your Squid access logs.</p>

    <p>Please select a report option at the top menu.</p>

{% endblock %}
