{% extends 'OctopusFrontendBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

	<div class="hero-unit">
	    <h1>Welcome to Octopus!</h1>

	    <br />
	    
	    <p>Now you can monitor your Squid access logs.</p>
    	<p>Please select an option at the top menu.</p>
	</div>

{% endblock %}
